.error-box{
  margin: auto;
  text-align: center;
  color: red;
  margin-bottom: 100px;
}

.error-icon{
  padding-top: 150px;
  margin: auto;
  text-align: center;
  color: orange;
  font-size: 200px;
}
