.error-container{
  margin-top: 5px;
  margin-bottom: 15px;
}

.error{
  color: red;
}

.btn-container{
  text-align: right;
}

mat-card {
  padding-left: 2rem;
}

mat-card-content {
  max-width: 25rem;
}

mat-form-field{
  width: 100%;
}
