<mat-card>
  <mat-card-title i18n="@@changeTitle">Change Password</mat-card-title>
  <mat-card-subtitle i18n="@@reqFields">* required fields</mat-card-subtitle>
  <mat-card-content>
    <form
      style="align-content: center"
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      class="example-form"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Current Password"
          i18n-placeholder
          [type]="hideOld ? 'password' : 'text'"
          id="currentPassword"
          ngModel
          name="currentPassword"
          minlength="8"
          required
        />
        <button
        mat-icon-button
        matSuffix
        (click)="hideOld = !hideOld"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOld"
      >
        <mat-icon>{{
          hideOld ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
          placeholder="New Password (min 8 chars)"
          i18n-placeholder
          [type]="hideNew ? 'password' : 'text'"
          id="newPassword"
          ngModel
          name="newPassword"
          minlength="8"
          required
        />
        <button
        mat-icon-button
        matSuffix
        (click)="hideNew = !hideNew"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNew"
      >
        <mat-icon>{{
          hideNew ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input
          matInput
          placeholder="Confirm New Password (min 8 chars)"
          i18n-placeholder
          [type]="hideConfirmation ? 'password' : 'text'"
          id="confirmPassword"
          minlength="8"
          ngModel
          name="confirmPassword"
          required
        />
        <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmation = !hideConfirmation"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmation"
      >
        <mat-icon>{{
          hideConfirmation ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      </mat-form-field>
      <br>
      <div class="error-container" *ngIf="submitError">
          <span class="error">{{ getErrorMessage() }}</span>
      </div>
      <div class="btn-container">
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          i18n="@@changeButton"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
