<footer>
  <div class="footer-top">
    <div class="m-middle">
      <h3 i18n="@@policyFooterTitle" class="menu-head">POLICIES</h3>
      <div class="footer_menu">
        <ul>
          <li><a i18n="@@swimPolicy" [routerLink]="['/policy']" >SWIM Web Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="b-left">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"
          ><img
            alt="Creative Commons License"
            style="border-width:0"
            src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"/></a
        ><br /><span
          xmlns:dct="http://purl.org/dc/terms/"
          href="http://purl.org/dc/dcmitype/InteractiveResource"
          property="dct:title"
          rel="dct:type"
          >Sustainable Water through Integrated Modeling</span
        >
        by
        <a
          xmlns:cc="http://creativecommons.org/ns#"
          href="https://www.utep.edu/"
          property="cc:attributionName"
          rel="cc:attributionURL"
          >The University of Texas at El Paso</a
        >
        is licensed under a
        <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"
          >Creative Commons Attribution-NonCommercial 4.0
          International (CC BY-NC 4.0)</a
        >.<br />Based on a work at
        <a
          xmlns:dct="http://purl.org/dc/terms/"
          href="https://swim.cybershare.utep.edu/"
          rel="dct:source"
          >https://swim.cybershare.utep.edu/</a
        >.
      </div>
    </div>
    <div class="r-right">
      <h3 i18n="@@ack" class="menu-head">ACKNOWLEDGEMENTS</h3>
      <p i18n="@@ackContent" style="text-align: justify;">
        This material is based upon work supported by the National Science Foundation
        under Grant No. 1835897. This work was supported by The Agriculture and
        Food Research Initiative (AFRI) grant no. 2015-68007-23130 from the USDA National
        Institute of Food and Agriculture.
        This work used resources from Cyber-ShARE Center of Excellence
        supported by NSF Grant HDR-1242122.
      </p>
      <div class="logo-container">
        <div class="logo">
          <img src="assets/img/nsf-logo.jpg" >
        </div>
        <div class="logo">
          <img style="margin-top: 15px;" src="assets/img/usda-nifa.jpg" >
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="footer-bottom">
    <div class="b-right">
      <p i18n="@@footNote">
        Any opinions, findings, and conclusions or recommendations expressed in
        this material are those of the author(s) and do not necessarily reflect
        the views of the National Science Foundation.
      </p>
    </div>
  </div>
</footer>
