<div id="top"></div>

<div class="container">
  <h1>SWIM Web Privacy Policy</h1>
  <p>
    This privacy policy has been compiled in addition to the UTEP Web Privacy
    Policy to inform users about how their information is being collected and
    used on the SWIM web-based system referred to as “SWIM” in this document.
  </p>

  <h3>
    When does SWIM collect your information?
  </h3>
  <ul>
    <li>
      When you complete the registration form for creating a new user account.
    </li>
    <li>When you visualize outputs of the modeling tools provided by SWIM.</li>
    <li>
      When model executions and errors are generated through your interaction
      with SWIM.
    </li>
    <li>
      When you allow SWIM to connect to your HydroShare account.
    </li>
  </ul>

  <h3>
    What personal information does SWIM collect when you register on the
    website?
  </h3>
  <p>
    When registering on the SWIM website, you will be asked to enter the
    following personal information: name, last name, email address, and an
    access password.
  </p>

  <h3>How does SWIM use your information?</h3>
  <ul>
    <li>
      To personalize and customize your experiences as part of a recommender
      system.
    </li>
    <li>Communicating new features or version updates of the system.</li>
    <li>
      Operating, maintaining, and improving the system for you and other users.
    </li>
    <li>To invite you to SWIM workshops, webinars, or other related events.</li>
    <li>To connect with third-party collaborating platforms with your prior permission.</li>
  </ul>

  <h3>How does SWIM protect your information?</h3>
  <ul>
    <li>
      Using up-to-date security certificates to create an encrypted
      communication channel.
    </li>
    <li>
      Data storage is user and password protected with limited direct access.
    </li>
    <li>Performing vulnerability scans on our host servers.</li>
    <li>Encrypting passwords in our databases.</li>
  </ul>
  <p>
    Note: The above protection mechanisms may not be sufficient or 100% secure,
    hence absolute security cannot be guaranteed.
  </p>

  <h3>Does SWIM use 'cookies'?</h3>
  <p>
    SWIM uses cookies, administered by SWIM, for storing login credentials,
    user authorization levels, tracking of model output rankings and HydroShare authentication.
  </p>

  <h3>Third-party disclosure</h3>
  <ul>
    <li>
      Personal data stored in SWIM does not sell, trade, or otherwise transfer
      to outside parties.
    </li>
    <li>
      Tracking of interactions with SWIM may be used for academic research
      purposes and only aggregated, non-identifiable information will be used in
      publications or reports.
    </li>
  </ul>

  <h3>
    What rights do you have regarding your personal information?
  </h3>
  <ul>
    <li>
      <span class="bold">Access: </span>You have the right to request your personal
      information stored by SWIM and what is the purpose of its use. You may be
      asked for proof of identity. Requested information will be delivered only
      to the registered email address.
    </li>
    <li>
      <span class="bold">Rectification: </span>You have the right to request changes on any
      of your personal information.
    </li>
    <li>
      <span class="bold">Erasure: </span>You have the right to request the deletion of your
      personal information. All your personal information will be deleted from
      the SWIM user database and the account will no longer be accessible, you
      can register again at any time after deletion.
    </li>
  </ul>

  <h3>How long does SWIM retain your personal information?</h3>
  <p>
    Your personal information will be retained throughout the lifetime of SWIM
    or when a request to delete it is made by you. When SWIM is permanently
    taken offline, all user accounts and personal information will be deleted
    from SWIM.
  </p>

  <h1>SWIM Terms of Use</h1>
  <p>
    By using SWIM you agree to be bound by these Terms. If you disagree with any
    part of these terms, you shall not use or register on SWIM.
  </p>

  <h3>User Registration</h3>
  <p>
    When registering on SWIM for a new user account you must be over the age of
    13. Any account found to be owned by a user under the age of 13 will be
    terminated immediately and personal information will be deleted from the
    SWIM user database without prior notice.
  </p>

  <h3>Termination</h3>
  <p>
    SWIM may terminate or suspend your user account immediately, without prior
    notice or liability, for any reason whatsoever, including breach of SWIM
    Terms of Use.
  </p>

  <h3>
    Contact
  </h3>
  <p>
    https://swim.cybershare.utep.edu <br />
    The University of Texas at El Paso <br />
    Classroom Building C405 <br />
    Hawthorne St 2011, El Paso, TX 79968 <br />
    swim@utep.edu <br />
  </p>
  <p style="text-align: right;">
    Last Edited on September 22, 2022
  </p>

</div>
